<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>David Chu's China Bistro</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
  </head>
<body>
  <header>
    <nav id="header-nav" class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a href="index.html" class="pull-left visible-md visible-lg">
            <div id="logo-img" alt="Logo image"></div>
          </a>

          <div class="navbar-brand">
            <a href="index.html"><h1>David Chu's China Bistro</h1></a>
            <p>
              <img src="images/star-k-logo.png" alt="Kosher certification">
              <span>Kosher Certified</span>
            </p>
          </div>

          <button id="navbarToggle" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        
        <div id="collapsable-nav" class="collapse navbar-collapse">
           <ul id="nav-list" class="nav navbar-nav navbar-right">
            <li id="navHomeButton" class="visible-xs active">
              <a href="index.html">
                <span class="glyphicon glyphicon-home"></span> Home</a>
            </li>
            <li id="navMenuButton">
              <a href="#" onclick="$dc.loadMenuCategories();">
                <span class="glyphicon glyphicon-cutlery"></span><br class="hidden-xs"> Menu</a>
            </li>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-info-sign"></span><br class="hidden-xs"> About</a>
            </li>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-certificate"></span><br class="hidden-xs"> Awards</a>
            </li>
            <li id="phone" class="hidden-xs">
              <a href="tel:410-602-5008">
                <span>410-602-5008</span></a><div>* We Deliver</div>
            </li>
          </ul><!-- #nav-list -->
        </div><!-- .collapse .navbar-collapse -->
      </div><!-- .container -->
    </nav><!-- #header-nav -->
  </header>

  <div id="call-btn" class="visible-xs">
    <a class="btn" href="tel:410-602-5008">
    <span class="glyphicon glyphicon-earphone"></span>
    410-602-5008
    </a>
  </div>
  <div id="xs-deliver" class="text-center visible-xs">* We Deliver</div>



<!-- Main BODY START FROM HERE-->
  <div id="main-content" class="container ng-scope">
 


 <div class="container ng-scope">
  <h2 id="menu-categories-title" class="text-center">Menu Categories</h2>
  <div class="text-center">
    Substituting white rice with brown rice or fried rice after 3:00pm will be $1.50 for a pint and $2.50 for a quart.
  </div>

  <!-- ngRepeat: menuCategory in menuCtrl.menuCategories --><menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
  <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/L">
    <div class="category-tile">
      <img width="200" height="200" ng-src="images/menu/L/L.jpg" alt="Lunch" src="images/menu/L/L.jpg">
      <span class="ng-binding">Lunch</span>
    </div>
  </a>
</div>
</menu-category><!-- end ngRepeat: menuCategory in menuCtrl.menuCategories --><menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
  <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/A">
    <div class="category-tile">
      <img width="200" height="200" ng-src="images/menu/A/A.jpg" alt="Soup" src="images/menu/A/A.jpg">
      <span class="ng-binding">Soup</span>
    </div>
  </a>
</div>
</menu-category><!-- end ngRepeat: menuCategory in menuCtrl.menuCategories --><menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
  <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/B">
    <div class="category-tile">
      <img width="200" height="200" ng-src="images/menu/B/B.jpg" alt="Appetizers" src="images/menu/B/B.jpg">
      <span class="ng-binding">Appetizers</span>
    </div>
  </a>
</div>
</menu-category><!-- end ngRepeat: menuCategory in menuCtrl.menuCategories --><menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
  <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/SP">
    <div class="category-tile">
      <img width="200" height="200" ng-src="images/menu/SP/SP.jpg" alt="Chef's Recommendations" src="images/menu/SP/SP.jpg">
      <span class="ng-binding">Chef's Recommendations</span>
    </div>
  </a>
</div>
</menu-category><!-- end ngRepeat: menuCategory in menuCtrl.menuCategories --><menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
  <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/C">
    <div class="category-tile">
      <img width="200" height="200" ng-src="images/menu/C/C.jpg" alt="Chicken" src="images/menu/C/C.jpg">
      <span class="ng-binding">Chicken</span>
    </div>
  </a>
</div>
</menu-category><!-- end ngRepeat: menuCategory in menuCtrl.menuCategories --><menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
  <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/F">
    <div class="category-tile">
      <img width="200" height="200" ng-src="images/menu/F/F.jpg" alt="Beef" src="images/menu/F/F.jpg">
      <span class="ng-binding">Beef</span>
    </div>
  </a>
</div>
</menu-category><!-- end ngRepeat: menuCategory in menuCtrl.menuCategories --><menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
  <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/V">
    <div class="category-tile">
      <img width="200" height="200" ng-src="images/menu/V/V.jpg" alt="Veal" src="images/menu/V/V.jpg">
      <span class="ng-binding">Veal</span>
    </div>
  </a>
</div>
</menu-category><!-- end ngRepeat: menuCategory in menuCtrl.menuCategories --><menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
  <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/DK">
    <div class="category-tile">
      <img width="200" height="200" ng-src="images/menu/DK/DK.jpg" alt="Duck" src="images/menu/DK/DK.jpg">
      <span class="ng-binding">Duck</span>
    </div>
  </a>
</div>
</menu-category><!-- end ngRepeat: menuCategory in menuCtrl.menuCategories --><menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
  <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/VG">
    <div class="category-tile">
      <img width="200" height="200" ng-src="images/menu/VG/VG.jpg" alt="Vegetables" src="images/menu/VG/VG.jpg">
      <span class="ng-binding">Vegetables</span>
    </div>
  </a>
</div>
</menu-category><!-- end ngRepeat: menuCategory in menuCtrl.menuCategories --><menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
  <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/CU">
    <div class="category-tile">
      <img width="200" height="200" ng-src="images/menu/CU/CU.jpg" alt="Curry" src="images/menu/CU/CU.jpg">
      <span class="ng-binding">Curry</span>
    </div>
  </a>
</div>
</menu-category><!-- end ngRepeat: menuCategory in menuCtrl.menuCategories --><menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
  <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/NL">
    <div class="category-tile">
      <img width="200" height="200" ng-src="images/menu/NL/NL.jpg" alt="Noodles (Lo Mein)" src="images/menu/NL/NL.jpg">
      <span class="ng-binding">Noodles (Lo Mein)</span>
    </div>
  </a>
</div>
</menu-category><!-- end ngRepeat: menuCategory in menuCtrl.menuCategories --><menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
  <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/NF">
    <div class="category-tile">
      <img width="200" height="200" ng-src="images/menu/NF/NF.jpg" alt="Mei Fan (Very Fine Noodles)" src="images/menu/NF/NF.jpg">
      <span class="ng-binding">Mei Fan (Very Fine Noodles)</span>
    </div>
  </a>
</div>
</menu-category><!-- end ngRepeat: menuCategory in menuCtrl.menuCategories --><menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
  <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/PF">
    <div class="category-tile">
      <img width="200" height="200" ng-src="images/menu/PF/PF.jpg" alt="Pan Fried Noodles" src="images/menu/PF/PF.jpg">
      <span class="ng-binding">Pan Fried Noodles</span>
    </div>
  </a>
</div>
</menu-category><!-- end ngRepeat: menuCategory in menuCtrl.menuCategories --><menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
  <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/FR">
    <div class="category-tile">
      <img width="200" height="200" ng-src="images/menu/FR/FR.jpg" alt="Fried Rice" src="images/menu/FR/FR.jpg">
      <span class="ng-binding">Fried Rice</span>
    </div>
  </a>
</div>
</menu-category><!-- end ngRepeat: menuCategory in menuCtrl.menuCategories --><menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
  <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/CM">
    <div class="category-tile">
      <img width="200" height="200" ng-src="images/menu/CM/CM.jpg" alt="Chow Mein" src="images/menu/CM/CM.jpg">
      <span class="ng-binding">Chow Mein</span>
    </div>
  </a>
</div>
</menu-category><!-- end ngRepeat: menuCategory in menuCtrl.menuCategories --><menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
  <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/FY">
    <div class="category-tile">
      <img width="200" height="200" ng-src="images/menu/FY/FY.jpg" alt="Egg Foo Young" src="images/menu/FY/FY.jpg">
      <span class="ng-binding">Egg Foo Young</span>
    </div>
  </a>
</div>
</menu-category><!-- end ngRepeat: menuCategory in menuCtrl.menuCategories --><menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
  <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/SO">
    <div class="category-tile">
      <img width="200" height="200" ng-src="images/menu/SO/SO.jpg" alt="Side Orders" src="images/menu/SO/SO.jpg">
      <span class="ng-binding">Side Orders</span>
    </div>
  </a>
</div>
</menu-category><!-- end ngRepeat: menuCategory in menuCtrl.menuCategories --><menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
  <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/DS">
    <div class="category-tile">
      <img width="200" height="200" ng-src="images/menu/DS/DS.jpg" alt="Desserts" src="images/menu/DS/DS.jpg">
      <span class="ng-binding">Desserts</span>
    </div>
  </a>
</div>
</menu-category><!-- end ngRepeat: menuCategory in menuCtrl.menuCategories --><menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
  <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/D">
    <div class="category-tile">
      <img width="200" height="200" ng-src="images/menu/D/D.jpg" alt="Dinner Combo" src="images/menu/D/D.jpg">
      <span class="ng-binding">Dinner Combo</span>
    </div>
  </a>
</div>
</menu-category><!-- end ngRepeat: menuCategory in menuCtrl.menuCategories --><menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory" class="ng-scope ng-isolate-scope"><div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
  <a ui-sref="public.menuitems({category: $ctrl.category.short_name})" href="#/menu/SR">
    <div class="category-tile">
      <img width="200" height="200" ng-src="images/menu/SR/SR.jpg" alt="Sushi Menu" src="images/menu/SR/SR.jpg">
      <span class="ng-binding">Sushi Menu</span>
    </div>
  </a>
</div>
</menu-category><!-- end ngRepeat: menuCategory in menuCtrl.menuCategories -->

</div></div>





  




<!-- Footer Start From Here -->
  <footer class="panel-footer">
    <div class="container">
      <div class="row">
        <section id="hours" class="col-sm-4">
          <span>Hours:</span><br>
          Sun-Thurs: 11:15am - 10:00pm<br>
          Fri: 11:15am - 2:30pm<br>
          Saturday Closed
          <hr class="visible-xs">
        </section>
        <section id="address" class="col-sm-4">
          <span>Address:</span><br>
          7105 Reisterstown Road<br>
          Baltimore, MD 21215
          <p>* Delivery area within 3-4 miles, with minimum order of $20 plus $3 charge for all deliveries.</p>
          <hr class="visible-xs">
        </section>
        <section id="testimonials" class="col-sm-4">
          <p>"The best Chinese restaurant I've been to! And that's saying a lot, since I've been to many!"</p>
          <p>"Amazing food! Great service! Couldn't ask for more! I'll be back again and again!"</p>
        </section>
      </div>
      <div class="text-center">&copy; Copyright David Chu's China Bistro 2016</div>
    </div>
  </footer>

  <!-- jQuery (Bootstrap JS plugins depend on it) -->
  <script src="js/jquery-2.1.4.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/ajax-utils.js"></script>
  <script src="js/script.js"></script>
</body>
</html>
